{%  if widget == 'TextInput' %}
    <bs-input model="{{ model }}" errors="{{ errors }}" value="sadfsdf"
              inputid="{{ field.auto_id }}" required="{{ field.field.required|yesno:'true,false' }}"
              {% for attr, value in field.field.widget.attrs.items %}{{ attr }}="{{ value }}" {% endfor %}
              label="{{ field.field.label }}" help="{{ field.field.help_text }}"></bs-input>
{%  elif widget == 'Textarea' %}
    <bs-textarea model="{{ model }}" errors="{{ errors }}"
                 inputid="{{ field.auto_id }}" required="{{ field.field.required|yesno:'true,false' }}"
                 {% for attr, value in field.field.widget.attrs.items %}{{ attr }}="{{ value }}" {% endfor %}
                 label="{{ field.field.label }}" help="{{ field.field.help_text }}"></bs-textarea>
{% elif widget == 'NumberInput' %}
    <bs-number model="{{ model }}" errors="{{ errors }}"
               inputid="{{ field.auto_id }}" required="{{ field.field.required|yesno:'true,false' }}"
               {% for attr, value in field.field.widget.attrs.items %}{{ attr }}="{{ value }}" {% endfor %}
               label="{{ field.field.label }}" help="{{ field.field.help_text }}"></bs-number>
{% elif widget == 'DateInput' %}
    <bs-date model="{{ model }}" errors="{{ errors }}"
             inputid="{{ field.auto_id }}" required="{{ field.field.required|yesno:'true,false' }}"
             {% for attr, value in field.field.widget.attrs.items %}{{ attr }}="{{ value }}" {% endfor %}
             label="{{ field.field.label }}" help="{{ field.field.help_text }}"></bs-date>
{% elif widget == 'Select' %}
    <bs-select model="{{ model }}" errors="{{ errors }}"
            inputid="{{ field.auto_id }}" required="{{ field.field.required|yesno:'true,false' }}"
            {% for attr, value in field.field.widget.attrs.items %}{{ attr }}="{{ value }}" {% endfor %}
            label="{{ field.field.label }}" help="{{ field.field.help_text }}">
        {% for value, text in choices %}
            <option value="{{ value }}">{{ text }}</option>
        {% endfor %}
    </bs-select>
{% elif widget == 'SelectMultiple' %}
    <bs-multi-panel model="{{ model }}" errors="{{ errors }}"
            inputid="{{ field.auto_id }}" required="{{ field.field.required|yesno:'true,false' }}"
            {% for attr, value in field.field.widget.attrs.items %}{{ attr }}="{{ value }}" {% endfor %}
            label="{{ field.field.label }}" help="{{ field.field.help_text }}">
        {% for value, text in choices %}
            <option value="{{ value }}">{{ text }}</option>
        {% endfor %}
    </bs-multi-panel>
{% elif widget == 'CheckboxInput' %}
    <bs-checkbox model="{{ model }}" errors="{{ errors }}"
                 inputid="{{ field.auto_id }}" required="{{ field.field.required|yesno:'true,false' }}"
                 {% for attr, value in field.field.widget.attrs.items %}{{ attr }}="{{ value }}" {% endfor %}
                label="{{ field.field.label }}" help="{{ field.field.help_text }}"></bs-checkbox>
{% else %}
    {{ widget }}
{% endif %}