.form-actions {
    clear: both;
    text-align: right;
    background-color: #eee;
    padding: 15px;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

.redactor_toolbar { background: none; }

.form-panel { margin-top: 1em; }

#content-header {
    background: #F3F3F4;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #E7EAEC;
}