#sitemap ul, #dragHelper ul {font-size: 1em; list-style: none;}
#sitemap li, #dragHelper li {display: block; width: 100%; display: block; clear: both; }
#sitemap dl, #dragHelper div {position: relative; display: block; height: 19px; border-top: 1px solid #eee; padding-top: 1px; background:#fff;}
#sitemap dt, #dragHelper dt {float: left; font-weight: bold; font-size: 1.1em; line-height: 1em; margin-left: 16px; padding: 0 0 0 1px;}
#sitemap dd, #dragHelper dd {float: left;}
#sitemap .sm2_actions, #dragHelper .sm2_actions {display: none; padding: 3px 2px 0 5px;}
#sitemap .sm2_status, #dragHelper .sm2_status {position: absolute; top: 3px; right: 0;}

#sitemap dl:hover dd, #sitemap dd:hover {display: block;}
#sitemap dd strong, #dragHelper dd strong {display: none;}
#sitemap a, #dragHelper a {border: none;}
#sitemap .sm2_expander, #dragHelper .sm2_expander {position: absolute; left: 0; top: 4px;}

#sitemap .sm2_liOpen, #dragHelper .sm2_liOpen {background: url(../img/sm2_li.gif) left repeat-y;}
#sitemap .sm2_liOpen > dl > .sm2_expander, #dragHelper .sm2_liOpen > dl > .sm2_expander {display: block; width: 15px; height: 1em; background: url(../img/excol_open.gif) 50% 50% no-repeat;}
#sitemap .sm2_liClosed > dl > .sm2_expander, #dragHelper .sm2_liClosed > dl > .sm2_expander {display: block; width: 15px; height: 1em; background: url(../img/excol_closed.gif) 50% 50% no-repeat;}
#sitemap .sm2_liClosed ul, #dragHelper .sm2_liClosed ul {display: none;}

#sitemap .dropzone { height:6px; background-color:#fff; border-bottom:4px solid #fff; }

.ui-droppable {
    cursor: move;
}