{% extends 'admin/base.html' %}
{% load mptt_tags %}
{% load static %}
{% load ajaxtables_tags %}
{% load i18n %}

{% block head %}
    {{ block.super }}
    {% ajaxtables_imports import_cookies_js=True %}
    <link href="{% static 'menu/css/menu.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <ul id="sitemap">
        {% recursetree nodes %}
            <li class="sm2_liOpen">
            <dl>
                {% if not node.is_leaf_node %}
                <a class="sm2_expander"></a>
                {% endif %}
                <dt>{{ node.title }}</dt>
            </dl>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>
{% endblock %}
