{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    {% if validlink %}
        <h1>{% trans 'Enter new password' %}</h1>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form method="POST" action="." class="uniForm">
            {% csrf_token %}
            {% crispy form %}
            <div class="buttonHolder">
                <button type="submit" class="button white">{% trans 'Save' %}</button> 
            </div>
        </form>
    {% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
    {% endif %}
{% endblock %}
